<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<!-- Assignment 3 -->
<!-- Show Comments -->

<!-- Assignment 4 -->
<!-- Show Comments using Ajax -->
<h2>Comments</h2>
<div id="comments">
	<!-- Assignment 4 DRY remove repeated piece of code same as in _comment -->
   <%= render :partial => @post.comments.reverse %> 
</div>
<!-- Form to Add new Comments Assignment 3 -->
<!-- -->
<!-- Assignment 4 - remote:true -->
<%= form_for([@post, Comment.new], remote:true) do |f| %>
	<p>
	<%= f.label :body, "New Comment" %><br/>
	<%= f.text_area :body %>
	</p>
	<p>
	<%= f.submit "Add Comment" %>
	</p>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
